
@*@model SStorm.CTH.Web.Models.TreeViewNode
@{
    Layout = null;
}
<ul id="myUL">

    @foreach (var node in Model.CancerTypeCollection)
    {
        if (node.ParentID == Model.Seed)
        {
            SStorm.CTH.Web.Models.TreeViewNode inner = new SStorm.CTH.Web.Models.TreeViewNode { Seed = node.ID, CancerTypeCollection = Model.CancerTypeCollection };
            <li>

                <span class="caret"></span> <a href="#" onclick="GetCancerDetails(@node.ID);" class="text-black-50"><i class="fa fa-folder"></i>(@node.ICDCode)@node.TypeName</a>
                <ul class="nested">
                    <partial name="Index" model="inner">
                </ul>
            </li>
        }
    }
</ul>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;
    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
      });
    }

    function GetCancerDetails(cancerTypeID) {
        alert(cancerTypeID);
        $.ajax({
            url: '@Url.Action("GetCancerDetails", "CancerType")',
            type: 'GET',
            cache: false,
            data: { ID: cancerTypeID}
        }).done(function (result)
        {
            $('#CancerTypeDetails').html(result);
        });
    }
</script>*@